<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->

<!-- Mirrored from demo.themefuse.com/html/KiddoTurf/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Mar 2015 12:36:26 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>KiddoTurf - Homepage</title>
<link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600|Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="images/favicon.ico">

<link href="{{asset('bundles/bsfrontoffice/KiddoTurf/style.css')}}" media="screen" rel="stylesheet">
<link href="{{asset('bundles/bsfrontoffice/KiddoTurf/screen.css')}}" media="screen" rel="stylesheet">
<!-- custom CSS -->
<link href="{{asset('bundles/bsfrontoffice/KiddoTurf/custom.css')}}" media="screen" rel="stylesheet">
<!-- main JS libs  -->
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/libs/modernizr.min.js')}}"></script>
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/libs/respond.min.js')}}"></script>					 
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/libs/jquery.min.js')}}"></script>
<!-- scripts  -->
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/jquery.spritely.min.js')}}"></script>
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/jquery.easing.min.js')}}"></script>
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/general.js')}}"></script>
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/js/hoverIntent.js')}}"></script>
<!-- Slider  -->
<link href="{{asset('bundles/bsfrontoffice/KiddoTurf/rs-plugin/css/settings.css')}}" media="screen" rel="stylesheet">
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
<script src="{{asset('bundles/bsfrontoffice/KiddoTurf/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>

</head>

<body>
<div class="body_wrap homepage">
	           
  <!-- header -->
  <div class="header">
      <div class="container">
      
      	  <div class="sunbeam"></div>
          <div class="rocket"></div>
          
          <div class="logo">
            <h3>BabySitter</h3>
          </div>
          
          <!-- topmenu -->    
          <nav id="topmenu" class="clearfix">   
          	<div class="topmenu_inner">  
              <ul class="dropdown">    
                  <li class="menu-level-0"><a href="#"><span>Accueil</span></a></li>                                                                           
                  <li class="menu-level-0"><a href="activities.html"><span>A Propos</span></a></li>
                  <li class="menu-level-0"><a href="rooms.html"><span>Evenements</span></a></li>
                  <li class="menu-level-0"><a href="#"><span>page</span></a>
                      <ul class="submenu-1">                        	
                          <li class="menu-level-1"><a href="gallery.html"><span>Espaces Garderies</span></a></li>
                          <li class="menu-level-1"><a href="our-staff.html"><span>Nos BabySitter</span></a></li>
                          <li class="menu-level-1"><a href="{{path('bs_front_office_espace_responsable_temoignage')}}"><span>Temoignages</span></a></li>														
                      </ul>
                  </li> 
                  <li class="menu-level-0"><a href="contact.html"><span>Contacts</span></a></li>                                
              </ul>  
              </div>
          </nav>    
      	<!--/ topmenu -->
          
          <div id="top_kite"></div>
      </div>   
  </div>
  <div id="top_clouds" class="top_stage"></div>
  <!--/ header -->
		
<!-- middle -->
 

<div id="middle">
    
	<div class="container clearfix"style="background-color: white;">
    	{%block contenu%}

      {%endblock%}
	</div>
    
</div>

<!--/ middle -->



<div class="footer">
<div class="inner">
	<div class="container clearfix">
    
        <div class="copyright">
        	<span class="copy">2015</span>  
        	 Baby Sitter Forever.
        </div>
        	        
    </div> 
</div>
</div>

</div>
</body>

<!-- Mirrored from demo.themefuse.com/html/KiddoTurf/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Mar 2015 12:36:26 GMT -->
</html>
