{% extends "BsFrontOfficeBundle::layout.html.twig" %}
{% block contenu%}  
        <div id="mid_bird"></div>
        <div id="mid_baloon"></div>
    	
        <div class="content_wrapper">   
        	
            <div class="title_top">
            	<h1>Que pense les parents de nos services </h1>
            </div>
            
	        <!-- content -->
	       
            	
                <!-- testimonials -->
                <div class="testimonials">                	
                    
                    <div class="author-description">	 
                        <div class="author-image"><span></span><img src="{{asset('images/temoins/1.jpg')}}" width="100px" height="110px" alt=""></div>
                        <div class="author-text">                            
                            <p>“Mes premières impressions concernant Lauren, notre nounou, sont très bonnes. Elle a l'air d'une jeune femme dynamique, elle est souriante et présente bien.”</p>	
                            <span class="author-name">— Amir Ben Hssouna</span>                            
                        </div>
                    </div>
                    
                    <div class="author-description photo_right">	 
                        <div class="author-image"><span></span><img src="{{asset('images/temoins/6.jpg')}}" width="100px" height="110px" alt=""></div>
                        <div class="author-text">                            
                            <p>“Les débuts sont tout à fait satisfaisants avec notre baby-sitter. Elle est adorable et attentionnée avec les enfants. J'espère qu'elle pourra les garder jusqu'au 15 juillet!”</p>	
                            <span class="author-name">— Mourad Ben Massoud</span>                            
                        </div>
                    </div> 
                    
                    <div class="author-description">	 
                        <div class="author-image"><span></span><img src="{{asset('images/temoins/2.jpg')}}" width="100px" height="110px" alt=""></div>
                        <div class="author-text">                            
                            <p>“Bonjour, je suis contente d'Olga, notre baby-sitter qui a su se faire accepter très rapidement par mes enfants. Elle m'a l'air à l'écoute, sérieuse et douce avec les enfants. J'espère que cela continuera ainsi.”</p>	
                            <span class="author-name">— Nermine Mbarek</span>                            
                        </div>
                    </div>
                    
                    <div class="author-description photo_right">	 
                        <div class="author-image"><span></span><img src="{{asset('images/temoins/3.jpg')}}" width="100px" height="110px" alt=""></div>
                        <div class="author-text">                            
                            <p>“Mes premières impressions concernant Lauren, notre nounou, sont très bonnes. Elle a l'air d'une jeune femme dynamique, elle est souriante et présente bien.”</p>	
                            <span class="author-name">— Nasr Daffef</span>                            
                        </div>
                    </div> 
                    
                    <div class="author-description">	 
                        <div class="author-image"><span></span><img src="{{asset('images/temoins/4.jpg')}}" width="100px" height="110px" alt=""></div>
                        <div class="author-text">                            
                            <p>“Super profil très sérieuse et adorable! notre baby-sitter nous convient nickel chrome! pourvu que ça continue...
Merci pour tout, votre service et vos équipes.”</p>	
                            <span class="author-name">— Aymen Jbeli</span>                            
                        </div>
                    </div>
                    
                    <div class="author-description photo_right">	 
                        <div class="author-image"><span></span><img src="{{asset('images/temoins/5.jpg')}}" width="100px" height="110px" alt=""></div>
                        <div class="author-text">                            
                            <p>“je ne suis pas satisfait de vos services , en faite le baby sitter m'a volé mes bijoux , elle n'etait bonne avec mes enfants , elle me semble tout à fait plus loins du domaine de baby sitting”</p>	
                            <span class="author-name">— Tony Mancuso</span>                            
                        </div>
                    </div>        
                    
                    <p class="text-center"><a href="#" class="btn"><span>Lire Plus De Temoigneges</span></a></p>
                    
                </div>
                <!--/ testimonials -->
                
	       
	        <!--/ content -->
		                    
          <div class="clear"></div>
        </div>
{% endblock %}
	
